<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <SiteUrl>localhost</SiteUrl>
  <AssistantIv>
  </AssistantIv>
  <AssistantKey>
  </AssistantKey>
  <DecimalLength>2</DecimalLength>
  <DefaultProductImage>
  </DefaultProductImage>
  <DefaultProductThumbnail1>
  </DefaultProductThumbnail1>
  <DefaultProductThumbnail2>
  </DefaultProductThumbnail2>
  <DefaultProductThumbnail3>
  </DefaultProductThumbnail3>
  <DefaultProductThumbnail4>
  </DefaultProductThumbnail4>
  <DefaultProductThumbnail5>
  </DefaultProductThumbnail5>
  <DefaultProductThumbnail6>
  </DefaultProductThumbnail6>
  <DefaultProductThumbnail7>
  </DefaultProductThumbnail7>
  <DefaultProductThumbnail8>
  </DefaultProductThumbnail8>
  <IsOpenSiteSale>true</IsOpenSiteSale>
  <Disabled>false</Disabled>
  <ReferralDeduct>0</ReferralDeduct>
  <Footer>
  </Footer>
  <RegisterAgreement>
  </RegisterAgreement>
  <HtmlOnlineServiceCode>
  </HtmlOnlineServiceCode>
  <LogoUrl>/utility/pics/logo.jpg</LogoUrl>
  <OrderShowDays>7</OrderShowDays>
  <CloseOrderDays>3</CloseOrderDays>
  <ClosePurchaseOrderDays>5</ClosePurchaseOrderDays>
  <FinishOrderDays>7</FinishOrderDays>
  <FinishPurchaseOrderDays>10</FinishPurchaseOrderDays>
  <TaxRate>0</TaxRate>
  <PointsRate>1.00</PointsRate>
  <SearchMetaDescription>
  </SearchMetaDescription>
  <SearchMetaKeywords>
  </SearchMetaKeywords>
  <SiteDescription>三强家具</SiteDescription>
  <SiteName>www.sanqiang.com</SiteName>
  <Theme>fangmeilele</Theme>
  <YourPriceName>
  </YourPriceName>
  <DistributorRequestInstruction>
  </DistributorRequestInstruction>
  <DistributorRequestProtocols>
  </DistributorRequestProtocols>
  <EmailSender>
  </EmailSender>
  <EmailSettings>
  </EmailSettings>
  <SMSSender>
  </SMSSender>
  <SMSSettings>
  </SMSSettings>
  <CnzzUsername>
  </CnzzUsername>
  <CnzzPassword>
  </CnzzPassword>
  <EnabledCnzz>False</EnabledCnzz>
  <SiteMapTime>
  </SiteMapTime>
  <SiteMapNum>
  </SiteMapNum>
  <CheckCode>
  </CheckCode>
  <TaobaoShippingType>0</TaobaoShippingType>
</Settings>