<?xml version="1.0" encoding="utf-8" ?>
<Menu>
  
  <Module Title="商品" Link="../admin/cpage/supplier/supplieradmin/supplier_products.aspx">
    <Item Title="商品管理">
		<PageLink  Title="添加新商品" Link="../admin/cpage/supplier/supplieradmin/supplier_productselectcategory.aspx" privilege="3040"/>
    <PageLink  Title="批量上传商品" privilege="3041" Link="../admin/cpage/supplier/supplieradmin/supplier_supplier_importfromtb.aspx"/>
		<PageLink  Title="已审核商品列表" Link="../admin/cpage/supplier/supplieradmin/supplier_products.aspx"/>
    <PageLink  Title="仓库中商品列表" Link="../admin/cpage/supplier/supplieradmin/supplier_products.aspx?checkedstatus=1"/>
	  </Item>
  </Module>

  <Module Title="发货单" Link="../admin/cpage/supplier/supplier_admin_shiporders.aspx">
    <Item Title="发货单管理">
      <PageLink  Title="发货单列表" privilege="5001" Link="../admin/cpage/supplier/supplier_admin_shiporders.aspx"/>
    </Item>
    <Item Title="发货统计">
      <PageLink  Title="发货统计" privilege="5001" Link="../admin/cpage/supplier/Supplier_Admin_ShipOrdersPriceTjForSupplierMingXi.aspx"/>
    </Item>

  </Module>
  <Module Title="个人信息" Link="../admin/cpage/supplier/supplieradmin/supplier_supplier_editpassword.aspx">
    <Item Title="安全信息">
      <PageLink  Title="修改登录密码" privilege="5001" Link="../admin/cpage/supplier/supplieradmin/supplier_supplier_editpassword.aspx"/>
    </Item>
  </Module>
</Menu>