<configuration>
  <system.web>
    <authorization>
      <allow roles="供应商" />
      <deny users="*" />
    </authorization>
  </system.web>

  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>