#editwindow{cursor:pointer;}
#floatBoxItem{width:100%;height:100%;background:#000;filter:alpha(opacity=22);position:absolute;top:0;left:0;display:none;}
.floatBoxHandle{border:#808080 1px solid;width:520px;position:relative;}
.floatBoxHandleSam{width:525px;top:180px;left:32%;position: absolute; filter: alpha(opacity=12); background-color: #000;padding-bottom:3px;}
.floatBoxHandle .title{height:23px;padding:3px 10px 0 0;background:#F2F2F2;color:#666;}
.floatBoxHandle .title h4{float:left;padding:0;margin:0;font-size:14px;line-height:16px;}
.floatBoxHandle .title span{float:right;cursor:pointer;}
.floatBoxHandle .content{padding:8px 15px;background:#F2F2F2;padding-top:0px;}
.floatBoxHandle .content h4{font-weight:700;padding-bottom:10px;color:#333;}
.floatBoxHandle .content li{clear:both;height:38px;}
.floatBoxHandle .content li span{display:block;float:left;width:120px;text-align:right;}
.floatBoxHandle .content .BoxContentHandle{padding-left:34px;}
.floatBoxHandle .content li .BoxInput{height:20px;padding:0 2px;border:#7F9DB9 solid 1px;}
.floatBoxHandle .content li .bottonHandle{padding-left:55px;width:200px;}
.short-btn,.short-btn-close{border-bottom-style: none; text-align: center; line-height: 25px; border-right-style: none; width: 80px; display: inline-block; border-top-style: none; background: url(../images/btn_bg.png) no-repeat; height: 25px; color: #fff; font-size: 14px; border-left-style: none; cursor: pointer; font-weight: bold}
.short-btn{width: 60px; background-position: 0px -475px; font-size: 12px}
.short-btn-close{width: 60px; background-position: 0px -500px; font-size: 12px;color:#333;}
.floatBoxHandle .content li .OrderPrice{color:#f50;font-size:14px;font-weight:700;text-align:left;}